@import "tailwindcss";

select option {
  background-color: #0f1117;
  color: #ffffff;
  padding: 8px;
}

select option:checked {
  background-color: #c8f542;
  color: #000000;
  font-weight: 600;
}

select option:hover {
  background-color: #1a1f2e;
  color: #ffffff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(1.1);
  cursor: pointer;
}